<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">

    <title>Are Electric Vehicles Good?</title>



  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="/" id="logo">Home</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a href="/analysis">Analysis</a></li>
              <li><a href="/about">About Us</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

    <body>
      <h1>Julia Cheng</h1>   
      <img src="Julia.jpeg" alt="Julia"> 
      <p>
        Julia works closely with the CEO in an industrial computer manufacturing company based in Taiwan. 
        She has assisted with the smooth operation of US relations over five years. Julia likes movies, music, reading and traveling. 
        There are 100 things that Julia wants to know and is unsure how long it takes, but she is up for the challenge!
      </p>
 

      <h1>Hazel Morris </h1>
      <img src="Hazel.jpeg" alt="Hazel">
      <p>
        Hazel is a Foster Care supervisor in Atlanta GA. Hazel has a passion for children and families as well
        as healthcare. Hazel loves nature and spending time with her family. 
      </p>

      <h1> Beverley "Scout" Phillip</h1>
      <img src="Beverly.jpeg" alt="Beverly">
      <p>
          Scout is an operations manager for a small rental company based out of Marietta Georgia. 
          As a humble motorhead, Scout also enjoys reading, gardening, 
          and building various projects around the home and workplace. 
      </p>
  
      <h1>Rashaye Harris</h1>
      <img src="Rashaye.jpeg" alt="Rashaye">
      <p>
        Rashaye is a Fitness Program Manager for an employee wellness center with over 10 years 
        of customer service and client-facing health coaching experience. She enjoys spending time with her husband and kids, l
        earning more about health and fitness, and going to see new movies in the theater.
      </p>

      <h1> Adam Armagost</h1>
      <img src="Adam.jpeg" alt="Adam">
      <p>
          Adam is a Project Manager by trade with 10yr+ years in Technology and Data Science. His hobbies are having hobbies. 
          He enjoys spending time with his kids & wife, playing paintball, and gardening.  
          Fun fact, Adam has growing corals in for the past 6 years with the hopes of 
          using the colonies as seeds for rehabilitating wild coral reefs.
      </p>

      <h1> Di Gibson</h1>
      <img src="Di.jpeg" alt="Di">
      <p>
        Di is a Senior Revenue Management Analyst at Molnlycke, a Swedish based company. 
        In her free time, she enjoysg oing to car shows with her husband, trying out new 
        restaurants, and working on home projects.
      </p>
  </body>

  <footer>
    <p><a href="home.html"> Return to Home Page</a></p>
  </footer>